body{
    display: flex;
    flex-direction: column;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container1{
    background: #1F2937;
}
.headerlogo{
    display: flex;
    align-items:flex-start;
    justify-content:space-around;  
    margin-bottom: 75px;
    padding: 16px;
}

.right-links{
    display: flex;
    list-style: none;
    column-gap: 15px;
    margin-top: 0%;
    padding-top: 0%;
}

a{
    color: #E5E7Eb;
    font-size: 18px;
    text-decoration: none;
}

.logotext{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;

}

.websiteawesome{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    
}

.subtext,.imgspace{
    font-size: 18px;
    color: #E5E7Eb;
    display: flex;
    align-items: flex-start;
    justify-content:left ;
    flex: 0;
    

}

.imgspace{

    width: 500px;
    height: 200px;
    border: 1px ;
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 25px;
    margin-left: 25px;
}

.button{
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882F6;
    border: 1px ;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    margin-top: 10px;
}

.headertext{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-left: 100px;
    
    
    
}


 








